{{yield}}
<div class="container">
  {{#if shoppingCart.items}}
    <h1>Current Items in Cart</h1>
    <button class="btn btn-danger" {{action 'emptyCart'}}>Empty Cart</button>
    {{#each shoppingCart.items as |item|}}
    <div class="cart-product">
      <div class="row">
        <div class="col-xs-8">
          <span class="name">{{item.name}}</span>
        </div>
        <div class="col-xs-4">
          <span class="price">${{item.price}}</span>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-danger" {{action 'removeFromCart' item}}>Remove</button>
      </div>
    </div>
    {{/each}}
  {{else}}
    <h1>Your Cart is Empty</h1>
  {{/if}}
</div>
